<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Share</title>
    <link rel="stylesheet" href="/public/styles/style.css" />
    <link rel="stylesheet" href="/public/styles/home.css" />
  </head>
  <body>
    <main class="container">
      <div class="hero">
        <h1>Code Share</h1>
        <p>Code Share is a simple, fast, and secure way to share your code with the world.</p>
      </div>
      <div class="action">
        <a href="/make" class="btn">Create your Own</a>
        <a href="/get-github" class="btn">Get from Github</a>
      </div>
    </main>
  </body>
</html>
