<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make | Code Share</title>
    <link rel="stylesheet" href="/public/styles/style.css" />
    <link rel="stylesheet" href="/public/styles/make.css" />
  </head>
  <body>
    <main class="container">
      <div>
        <form method="GET" class="maker">
          <textarea name="code"></textarea>
          <button class="btn" type="submit">Make</button>
        </form>
      </div>
      <div class="result">
        <h2>Result</h2>
        <div class="code">{{code}}</div>
      </div>
    </main>
  </body>
</html>
